body {
    font-family: 'Inter', sans-serif;
}

.card:hover {
    transform: scale(1.02);
}

.dimensions {
    width: 30px;
}

.stars-color {
    color: #FFAA46;
}

.bars-color {
    color: #7550FE;
}

.save {
    color: rgba(0, 0, 0, 0.250);
}

.save:hover {
    color: #7550FE;
}